{{ template "head.html" . }}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1>{{ .title }}</h1>
            <form action="{{ .form }}" method="post">
                <div class="form-group">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" placeholder="ID" {{ if .item.ID }}value="{{ .item.ID }}"{{ end }}>
                </div>
                <div class="form-group">
                    <label for="slug">Slug</label>
                    <input type="text" class="form-control" id="slug" name="slug" placeholder="Slug" {{ if .item.Slug }}value="{{ .item.Slug }}"{{ end }}>
                </div>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="name" class="form-control" id="name" name="name" placeholder="Name" {{ if .item.Name }}value="{{ .item.Name }}"{{ end }}>
                </div>
                <div class="form-group">
                    <label for="gitrepo">Git Repo URL</label>
                    <input type="name" class="form-control" id="gitrepo" name="gitrepo" placeholder="Git Repo URL" {{ if .item.GitRepo }}value="{{ .item.GitRepo }}"{{ end }}>
                    Please use <strong>%[1]s</strong> as placeholder for the filename and <strong>%[2]d</strong> for the line number.
                </div>
                <div class="form-group">
                    <label for="name">Product</label>
                    <select class="form-control" id="product" name="product">
                        {{ range $el := .products }}
                        <option value="{{ $el.ID }}" {{ if eq $el.ID.String $.item.ProductID.String }}selected="selected"{{ end }}>{{ $el.Name }}</option>
                        {{ end }}
                    </select>
                </div>
                <button type="submit" class="btn btn-default">Save</button>
            </form>
        </div>
    </div>
</div>
{{ template "foot.html" . }}
