{{ template "head.html" . }}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1>{{ .title }}</h1>
            <table class="table table-striped table-hover table-condensed">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Signature</th>
                        <th scope="col">All <a href="/crashes?sort=all_crash_count&order=asc">A</a>/<a href="/crashes?sort=all_crash_count&order=desc">D</a></th>
                        <th scope="col">Windows <a href="/crashes?sort=win_crash_count&order=asc">A</a>/<a href="/crashes?sort=win_crash_count&order=desc">D</a></th>
                        <th scope="col">Mac OS X <a href="/crashes?sort=mac_crash_count&order=asc">A</a>/<a href="/crashes?sort=mac_crash_count&order=desc">D</a></th>
                        <th scope="col">Linux <a href="/crashes?sort=lin_crash_count&order=asc">A</a>/<a href="/crashes?sort=lin_crash_count&order=desc">D</a></th>
                        <th scope="col">First reported <a href="/crashes?sort=first_reported&order=asc">A</a>/<a href="/crashes?sort=first_reported&order=desc">D</a></th>
                        <th scope="col">Last reported <a href="/crashes?sort=last_reported&order=asc">A</a>/<a href="/crashes?sort=last_reported&order=desc">D</a></th>
                    </tr>
                </thead>
                <tbody>
                    {{ range .items }}
                    <tr>
                        <td><a href="/crashes/{{ .ID }}">{{ .ID }}</a></td>
                        <td>{{ .Signature }}</td>
                        <td>{{ .AllCrashCount }}</td>
                        <td>{{ .WinCrashCount }}</td>
                        <td>{{ .MacCrashCount }}</td>
                        <td>{{ .LinCrashCount }}</td>
                        <td>{{ .FirstReported.Format "02. Jan. 2006 15:04:05 UTC" }}</td>
                        <td>{{ .LastReported.Format "02. Jan. 2006 15:04:05 UTC" }}</td>
                    </tr>
                    {{ end }}
                </tbody>
            </table>
            <nav>
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="?last_date={{ .prevDate }}&dir=down" rel="prev">Previous</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?last_date={{ .nextDate }}&dir=up" rel="next">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

{{ template "foot.html" . }}
