{{ template "head.html" . }}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1>
                {{ .title }}{{ if .item.Signature }} <small>({{ .item.Signature}})</small>{{ end }}
                <form action="/reports/{{ .item.ID }}/reprocess" method="post" style="display: inline">
                    <button type="submit" class="btn btn-default pull-right" href="/reports/{{ .item.ID }}/reprocess" id="reprocess" role="button">
                        <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
                         Reprocess
                    </button>
                </form>
            </h1>
            {{ if eq .result "OK" }}
            <div class="alert alert-success" role="alert">Reprocessing successful</div>
            {{ else if eq .result "NOK" }}
            <div class="alert alert-danger" role="alert">Reprocessing not succefful</div>
            {{ end }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-7">
            <h2 id="overview">Overview</h2>
            <table class="table">
                <tbody>
                    <tr>
                        <th scope="row">ID</th>
                        <td>{{ .item.ID }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Crash ID</th>
                        <td id="crashid"><a href="/crashes/{{ .item.CrashID }}">{{ .item.CrashID }}</a> <small><a onclick="changeCID()">(change)</a></small></td>
                    </tr>
                    <tr>
                        <th scope="row">Signature</th>
                        <td>{{ .item.Signature }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Location</th>
                        <td>{{ if .item.Line }}<a href="{{ printf .item.GitRepo .item.File .item.Line}}">{{ .item.Location }}</a>{{ end }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Date</th>
                        <td>{{ .item.Date.Format "02. Jan. 2006 15:04:05 UTC" }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Product</th>
                        <td>{{ .item.Product }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Version</th>
                        <td>{{ .item.Version }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Platform</th>
                        <td>{{ .item.Platform }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Arch</th>
                        <td>{{ .item.Arch }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Processor</th>
                        <td>{{ .item.Processor }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Reason</th>
                        <td>{{ .item.Reason }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Uptime</th>
                        <td>{{ .item.Uptime }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Comment</th>
                        <td>{{ .item.Comment }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Processing Time</th>
                        <td>{{ .item.ProcessingTime }}s</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <aside class="col-md-5">
            <nav>
                <h2>Navigation</h2>
                <ul class="nav nav-pills nav-stacked">
                    <li role="presentation">
                        <a href="#overview">Overview</a>
                    </li>
                    <li role="presentation">
                        <a href="#crashing_thread">Crashing thread</a>
                    </li>
                    <li role="presentation">
                        <a href="#threads">All threads</a>
                    </li>
                    <li role="presentation">
                        <a href="#modules">Modules</a>
                    </li>
                    <li role="presentation">
                        <a href="#comments">Comments</a>
                    </li>
                </ul>
            </nav>
            <h2>Downloads</h2>
            <ul class="nav nav-pills nav-stacked">
                <li role="presentation">
                    <a href="/reports/{{ .item.ID }}/files/upload_file_minidump">Original Minidump</a>
                </li>
                <li role="presentation">
                    <a href="/reports/{{ .item.ID }}/files/processed_json">Crashreport (JSON)</a>
                </li>
                <li role="presentation">
                    <a href="/reports/{{ .item.ID }}/files/processed_txt">Crashreport (TXT)</a>
                </li>
            </ul>
        </aside>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2 id="crashing_thread">Crashing thread ({{ .report.CrashInfo.CrashingThread }})</h2>
            <table class="table table-striped table-condensed">
                <thead>
                    <tr>
                        <th scope="col">Frame</th>
                        <th scope="col">Module</th>
                        <th scope="col">Signature</th>
                        <th scope="col">Source</th>
                    </tr>
                </thead>
                <tbody>
                    {{ range $v := (index .report.Threads .report.CrashInfo.CrashingThread).Frames }}
                    <tr>
                        <td>{{ $v.Frame }}</td>
                        <td>{{ $v.Module }}</td>
                        <td>{{ $v.Function }}</td>
                        <td>{{ if $v.Line }}<a href="{{ printf $.item.GitRepo $v.File $v.Line}}">{{ $v.File }}:{{ $v.Line }}</a>{{ end }}</td>
                    </tr>
                    {{ end }}
                </tbody>
            </table>
            <h2 id="threads">All threads</h2>
            {{ range $i, $v := .report.Threads }}
            {{ if ne $.report.CrashInfo.CrashingThread $i }}
            <h3 id="thread_{{ $i }}">Thread {{ $i }}</h2>
                <table class="table table-striped table-condensed">
                    <thead>
                        <tr>
                            <th scope="col">Frame</th>
                            <th scope="col">Module</th>
                            <th scope="col">Signature</th>
                            <th scope="col">Source</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{ range $vv := $v.Frames }}
                        <tr>
                            <td>{{ $vv.Frame }}</td>
                            <td>{{ $vv.Module }}</td>
                            <td>{{ $vv.Function }}</td>
                            <td>{{ if $vv.Line }}<a href="{{ printf $.item.GitRepo $vv.File $vv.Line}}">{{ $vv.File }}:{{ $vv.Line }}</a>{{ end }}</td>
                        </tr>
                        {{ end }}
                    </tbody>
                </table>
                {{ end }}
                {{ end }}
                <h2 id="modules">Modules</h2>
                <table class="table table-striped table-condensed">
                    <thead>
                        <tr>
                            <th scope="col">Filename</th>
                            <th scope="col">Debug Identifier</th>
                            <th scope="col">Debug Filename</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{ range .report.Modules }}
                        {{/*{{ if or .LoadedSymbols .MissingSymbols }}*/}}
                        <tr>
                            <td>{{ .Filename }}</td>
                            <td>{{ .DebugID }}{{ if .MissingSymbols }} <strong>(missing)</strong>{{ end }}</td>
                            <td>{{ .DebugFile }}</td>
                        </tr>
                        {{/*{{ end }}*/}}
                        {{ end }}
                    </tbody>
                </table>
                <h2 id="comments">Comments</h2>
                {{ range .comments }}
                <div class="well" id="comment-{{ .ID }}">
                    {{ .Content }}
                    <footer>— by {{ .User.Name }} on {{ .CreatedAt.Format "02. Jan. 2006 15:04:05 UTC" }}</footer>
                </div>
                {{ end }}
                <h3>Add comment</h3>
                <form method="post" action="/reports/{{ .item.ID }}/comments">
                    <div class="form-group">
                        <textarea class="form-control" name="comment"></textarea>
                    </div>
                    <button class="btn btn-default" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>

    <script type="text/javascript">
    function changeCID() {
        cell = document.getElementById("crashid");
        cell.innerHTML = "<form action=\"/reports/{{ .item.ID }}/crashid\" method=\"post\"><input type=\"text\" value=\"{{ .item.CrashID }}\" style=\"width:70%;margin-right:1em;\" name=\"crashid\"><button class=\"btn btn-default\" type=\"submit\">Change</button></form>";
    }
    </script>

    {{ template "foot.html" . }}
