{{ template "head.html" . }}

<!-- Primary Page Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="container">
    <div class="row">
        <div class="twelve columns">
            <h1>{{ .title }}</h1>
            <table class="u-full-width zebra compact">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Code</th>
                        <th scope="col">OS</th>
                        <th scope="col">Arch</th>
                    </tr>
                </thead>
                <tbody>
                    {{ range .items }}
                    <tr>
                        <td><a href="/symfiles/{{ .ID }}">{{ .ID }}</a></td>
                        <td>{{ .Name }}</td>
                        <td>{{ .Code }}</td>
                        <td>{{ .Os }}</td>
                        <td>{{ .Arch }}</td>
                    </tr>
                    {{ end }}
                </tbody>
            </table>
        </div>
    </div>
</div>

{{ template "foot.html" . }}
